<div class="container">
  <div class="row">
	  <% if current_user.blank? %>
	  <% if @visitor.blank? %>
	  	<%= render partial: "dashboard/shared/pre_video_creation" %>
	  <% else %>
		<%= render partial: "dashboard/shared/post_video_creation", :locals => {:@visitor=>@visitor} %>
	  <% end %>
	  <% else %>
	  	<%= render partial: "dashboard/shared/user_dashboard", :locals => {:@visitor=>current_user} %>
	  <% end %>
  </div>
</div>



