<div class="container-fluid fullHeight">
  <div class="row jumbotron">
	  <div class="row"><br/></div>
	  <% if @visitor.blank? %>
	  	<%= render partial: "dashboard/shared/pre_video_creation" %>
	  <% else %>
		<%= render partial: "dashboard/shared/post_video_creation", :locals => {:@visitor=>@visitor} %>
	  <% end %>
  </div>
</div>



