<div class="row">
<span id="visitor-recording-span" style="display:inline;">
<div class="row" style="background:#525250;"><br/></div>
<div class="row" style="background:#525250;">
    <div class="col-sm-12 col-md-12 col-lg-3">
      <div class="row" style="background:#525250;">
 <%= render partial: 'dashboard/shared/sidebar' %>
      </div>
    </div>
   <div class="col-sm-12 col-md-12 col-lg-1">
  <div class="row text-right" style="padding-top:380px; background:#525250;">
<!-- <a href="#" id="back-button">
<i class="fa fa-arrow-left center-div" style="color:#ffffff;font-size:40px;padding-top:10%;"></i>
</a> -->
<span id="re-recording-message" style="display:none;">
<p class=""><!-- Do you want to re-record the message? --><a href="/create/video" id="re-record" class="btn btn-danger" style="cursor: pointer; cursor: hand; color:#FFF; font-weight:bold;">Re-Record</a></p>
</span>
</div>
    </div>
     <div class="col-sm-12 col-md-12 col-lg-7">
       <div class="row" style="background:#525250;">
          <!-- <span id="visitor-recording-span" style="display:inline;"> -->
  <%= render partial: 'dashboard/desktop/recording' %>
<!-- </span>
<span id="visitor-video-detail-span" style="display:none;">
<%#= render partial: 'dashboard/desktop/video_details' %>
</span> -->
       </div>
     </div>
    <div class="col-sm-12 col-md-12 col-lg-1">
 	  <div class="row text-left" style="padding-top:380px;">
 	<!-- <a href="#" id="back-button">
 	<i class="fa fa-arrow-right center-div" style="color:#ffffff;font-size:40px;padding-top:10%;"></i>
 	</a> -->
<span id="re-record-span" style="display:none;">
<p class="btn btn-danger"><a href="#" id="recording-next-btn" class="" style="cursor: pointer; cursor: hand;  color:#FFF; font-weight:bold;"><strong>Next</strong></a></p>
<!-- <p>If you are happy with your recording, click Next.</p> -->
</span>
 	</div>
     </div>
</div>
<div class="row" style="background:#525250;"><br/></div>
</span>

<span id="visitor-video-detail-span" style="display:none;">
<div class="row"><br/></div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-3">
      <div class="row">
 <%= render partial: 'dashboard/shared/sidebar' %>
      </div>
    </div>
   <div class="col-sm-12 col-md-12 col-lg-1">
  <div class="row text-right" style="padding-top:380px;">
<!-- <a href="#" id="back-button">
<i class="fa fa-arrow-left center-div" style="color:#ffffff;font-size:40px;padding-top:10%;"></i>
</a> -->
<span id="re-recording-message" style="display:inline;">
<p class=""><!-- Do you want to re-record the message? --><a href="/create/video" id="re-record" class="btn btn-danger" style="cursor: pointer; cursor: hand; color:#FFF; font-weight:bold;" onclick="return confirm('Clicking Back button will start a new video recording. Are you sure?')">Back</a></p>
</span>
</div>
    </div>
     <div class="col-sm-12 col-md-12 col-lg-7">
       <div class="row">
          <!-- <span id="visitor-recording-span" style="display:inline;"> -->
  <%= render partial: 'dashboard/desktop/video_details' %>
<!-- </span>
<span id="visitor-video-detail-span" style="display:none;">
<%#= render partial: 'dashboard/desktop/video_details' %>
</span> -->
       </div>
     </div>
    <div class="col-sm-12 col-md-12 col-lg-1">
 	  <div class="row text-left" style="padding-top:380px;">
 	<!-- <a href="#" id="back-button">
 	<i class="fa fa-arrow-right center-div" style="color:#ffffff;font-size:40px;padding-top:10%;"></i>
 	</a> -->
<span id="re-record-span" style="display:inline;">
<!-- <p class="btn btn-danger"><a href="#" id="recording-next-btn" class="" style="cursor: pointer; cursor: hand;  color:#FFF; font-weight:bold;"><strong>Next</strong></a></p> -->
	<button type="submit" class="btn btn-danger" style="cursor: pointer; cursor: hand;  color:#FFF; font-weight:bold;"><strong>Submit</strong></button>
<!-- <p>If you are happy with your recording, click Next.</p> -->
</span>
 	</div>
     </div>
</div>
<div class="row"><br/></div>
</span>
</div>
