
<style>
	.caption {
	    position: absolute;
	    top: 35%;
	    width: 100%;
	}
</style>

<div class="start_video col-lg-offset-1">
      	<span id="left_panel_span">	
		<div id="videos">
		  	<div id="subscribers" style="width:100%;height:100%;">
				<div id="publisher" style="width:100%;height:100%;"></div>
				<form class="archive-options">
			  	  	<fieldset class="archive-options-fields">
  						<input type="hidden" name= "session_id" value="<%=@session_new.session_id %>">
		  	  		</fieldset>
		  		</form>
			</div>
		</div>
        </span>
		<div class="caption">
			<div class="text-center">
			<!-- <h4>Lorem ipsum dolor sit amet, consectetur</h4> -->
				<span id="timer-display-span"></span><br/><br/>
				<span id="start-span" style="display:inline;">
				<a href="#" id="start-recording"><span class="glyphicon glyphicon-play-circle"></span></a>
					<p class="record_link">Start Recording</p>
				</span>
				<span id="stop-span"  style="display:none;">
				<a href="#" id="stop-recording">
					<i class="fa fa fa-stop-circle" style="color:#ffffff;font-size:40px;"></i>
				</a>
					<p class="record_link">Stop Recording</p>
				</span>
				<!-- <span id="re-record-span" style="display:none;">
					<p><a href="#" id="recording-next-btn" class="btn btn-next"><strong>NEXT</strong></a></p>
					<p>If you are happy with your recording, click Next.</p>
				</span> -->
				<span id="processing-span" style="display:none;">
				<a href="#" id="process-video">
					<i class="fa fa-refresh fa-spin" style="color:#ffffff;font-size:32px;"></i>
				</a>
					<p class="record_link">Processing...</p>
				</span>
				<span id="get-ready-span" style="display:none;">
					<p class="record_link">Get ready to record!</p>
				</span>
				<!-- <span id="submit-recording-message" style="display:none;">
					<p>Do you want to re-record the message? <a id="re-record" class="color-text" style="cursor: pointer; cursor: hand;">Yes</a></p>
				</span> -->
			</div>
		</div>
</div> 
		<!-- <div class="row start_video" style="color:#FFF !important; background:#525250;line-height:45px;">
		<span id="start-recording-message" style="display:inline;">
			<p class="text-right" style="font-size:24px;padding-right:60px;">Do something awesome today! Record a personal video message for the recepient. <br/></p>
		</span> -->
			


<script> 
	<%= render(:partial => 'recording/shared/recording.js') %>
</script>
