<div class="row">
	<div class="form-group">
		<div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-1 control-label">
			<p style="font-size: 20px !important;"><strong>Schedule your Video</strong></p>
			<p style="font-size: 16px !important;">(when do you want to send this video to the customer?)</p>
		</div>
	</div>
</div>
<div class="row"><br/>
				<form class="archive-options">
			  	  	<fieldset class="archive-options-fields">
  						<input type="hidden" name= "session_id" value="<%=@session_new.session_id %>">
						<input type="hidden" name= "archive_id">
						<input type="hidden" name= "img_data">
		  	  		</fieldset>
		  		</form>
</div>
<div class="row">
	<div class="form-group">
		<div class="col-sm-12 col-md-12 col-lg-4 col-lg-offset-1">
		<div class='input-group date' id='datetimepicker1'>
			<input type='text' class="form-control" id="datepicker" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>		
		</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-3">
			<div class='input-group date' id='datetimepicker3'>
				<input type='text' class="form-control" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-time"></span>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="row"><br/></div>
<div class="row">
	<div class="form-group">
	    <div class="col-sm-12 col-md-12 col-lg-4 col-lg-offset-1 color-text" style="display:none;" id="schedule_date_invalid_div">
	    	 Choose the Date to schedule.
	    </div>
	    <div class="col-sm-12 col-md-12 col-lg-6 color-text" style="display:none;" id="schedule_time_invalid_div">
	    	 Choose the Time to schedule.
	    </div>
</div>
</div>
<div class="row"><br/></div>
<div class="row"><br/></div>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                	format: 'MM/DD/YYYY'
                });
				
				$('#datetimepicker3').datetimepicker({
					format: 'LT'
				});
            });
        </script>