<%= render partial: 'welcome/shared/half_slider' %>

<!-- Page Content -->
<div class="container">

	<div class="row">
		<p class="heading-content-center header-36">Gifts look better when wrapped in
			Emotions & Feelings! <br/> <span style="text-align:center; !important;" class="content-24">
				Take it for a spin (No credit card required)
			</span></p>
		<p style="text-align:center; text-decoration:none;" class="btn-start-exploring">
			<span><a href="/create/video">Start Exploring</a></span>
			<br/>
		</p>	  
	</div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
</div>
<div class="row"><br/></div>
