	  <div class="col-sm-12 col-md-12 col-lg-12 center">
	  	<p>
			<span class="heading-content-center header-36" style="padding-top: 90px;">
				Welcome, looks like you're new here!
			</span>
			<br/>
			<span class="content-21">Take a short tour below or get started</span>
		</p>
	  </div>
	  <div class="col-sm-12 col-md-12 col-lg-12 center">
	  	<div class="col-sm-12 col-md-12 col-lg-2">
		  
	  	</div>
	  	<div class="col-sm-12 col-md-12 col-lg-8">
			<%= render partial: "dashboard/shared/carousel" %>
		</div>
	  	<div class="col-sm-12 col-md-12 col-lg-2">
		  
	  	</div>
	  </div>
	  
	  <div class="col-sm-12 col-md-12 col-lg-12 center">
		<div class="row"><br/></div>
	  	<p style="text-align:center; text-decoration:none;" class="btn-start-exploring">
	  		<span><a href="/create/video" style="cursor: pointer; cursor: hand;">Get Started</a></span>
	  		<br/>
	  	</p>
	  </div>